<div class="mini-navbar">
        <nav>
            <ul class="mini-navbar-ul mx-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2" aria-current="page" href="/compose"> 
                        <i class="fa-solid fa-file-pen" style="color: #331D2C;"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/inbox">
                        <i class="fa-solid fa-message" style="color: #331D2C;"></i>    
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/postmanager">
                        <i class="fa-solid fa-text-slash" style="color: #331D2C;"></i>    
                    </a>
                </li>
            </ul>
        </nav>
    </div>