
<!-- right sidebar start -->

 <div class="right-sidebar">
 <nav class="sidebar navbar-right">
     <ul class="nav flex-column vertical-nav text-right">
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/authors"> مصنفین </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/letters"> رسائل </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/books"> کتب </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/criticism">تنقید </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/easterncriticism">مشرقی تنقید
             </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/westerncriticism">مغربی تنقید
             </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/linguistics"> لسانیات </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/psychology"> ساخیات
             </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/cultureandcivilization">تہذیب و ثقافت </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/contemporaryissues"> جدید مباحث </a>
             
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/progressivemovement"> ترقی پسند تحریک​ و تنقید </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/psychologicacriticism">نفسیاتی تنقید </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/Philosophy"> فلسفہ
             </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/iqbalstudies">اقبالیات</a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/literatureandreligion">ادب اور مذہب 
             </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/personalities"> شخصیات </a>
         </li>
         <li class="nav-item vertical-nav-item">
             <a class="nav-link" href="/supplementaryliterature"> اضاف ادب </a>
         </li>
         
     </ul>
 </nav>
</div>
<!-- right sidebar ended -->