<%- include("partials/header"); -%>
<div class="center-ceontent">
<h1 class="mb-5 text-center" >تعارفی صفحہ</h1>
<p> <%= aboutContent %> </p> 
<div id="owner-intro">
    <h3>
        بانی کا تعارف
    </h3>
    <div >
        <img class="rounded mx-auto d-block" src="images/intro.png" alt="intro-img">
    </div>
    <p>
اس ویب سائٹ کے بانی پروفیسر محمد جلال الدین نعمانی، تحقیق و تدریس کی دنیا میں، اپنے مختصر نام 'جلال نعمانی' اور شعر و ادب کی دنیا میں اپنے تخلص 'کاشف نعمانی' کے حوالے سے پہچانے جاتے ہیں۔ تین دہائیوں سے زاید عرصے پر محیط تحقیق و تدریس کے شاندار سفر کے دوران میں آپ نے بے شمار تشنگانِ علم کو اپنے ذخار علم سے سیراب کیا اور ہزاروں جوئندگان تحقیق کی رہنمائی فرمائی۔
تحقیق و تدریس کے شعبے میں، استاذالاساتذہ کے رتبے پر فائز، پروفیسر جلال نعمانی محض ایک شخصیت کا نام نہیں بل کہ اعلیٰ اخلاقی اقدار سے ناقابل شکست وابستگی اور تعلیم و تعلم کے مخصوص انداز کے سبب آپ ایک Brand Name کا درجہ رکھتے ہیں۔
شعر و ادب میں 'کاشف نعمانی' کے تخلص کے ساتھ آپ کے دو شعری مجموعے "اِک تیغ، اِک ستارہ" (٢٠٠٨ء) اور "رگوں میں شہد بہنے کا زمانہ تھا" (٢٠١٣ء) شائع ہو کر سخن فہم حضرات سے داد وصول کر چکے ہیں۔ 
"اِک تیغ، اِک ستارہ" میں شامل کچھ نئی بحور میں لکھی ہوئی اور کچھ آزاد غزلیں اپنے مخصوص شعری تجربات کی بنا پر اہلِ نقد و نظر کے نزدیک ایک Discourse کا درجہ حاصل کر چکی ہیں.
علم و ادب سے کاشف نعمانی کی غیر معمولی وابستگی آپ کو ہمیشہ یہ سوچنے پر مجبور کرتی رہی کہ وہ نوواردانِ تحقیق اور کاملینِ فن کو اپنے علم سے کیسے وہ سہولت فراہم کریں کہ اُن کا تحقیق و تنقید کا پُر پیچ اور دشوار سفر ہم وار اور آسان ہو سکے۔ بالآخر اس ویب سائٹ 'اردو ورسٹی' کے ذریعے آپ نے کارزارِ تنقید اور خارزارِ تحقیق میں مصروفِ عمل محققین کی راہ کے کانٹے چُننے اور اُنھیں قدیم و جدید آلاتِ تنقید سے لیس کرنے کی سعی کی ہے۔
قدیم و جدید مصنفین کی بیش بہا کتابوں اور ناقابلِ حصول رسائل میں چھپے ہوئے خزائن کو اُن مخازن سے نکال کر باہر لانا کاشف نعمانی کی ایسی عہد ساز کاوش ہے جس کے دور رس نتائج کی کیفیت و کمیت کا ابھی اندازہ بھی نہیں لگایا جا سکتا۔
    </p>
</div>
<hr>
<div id="web-intro">
    <h3>
        ویب سائٹ کا تعارف
    </h3>
    <p>
الحمدللہ اردو میں تحقیقی و تنقیدی کام کرنے والوں کے لیے تحقیقی و تخلیقی مواد اب پہلے کی طرح کم یاب نہیں رہا لیکن یہ بھی ایک حقیقت ہے کہ اس سلسلے میں جتنا بھی کام کیا جائے کم ہے۔ اردو میں متعدد ویب سائٹس تحقیقی، تنقیدی اور تخلیقی کتب کی فراہمی کی خدمات انجام دے رہی ہیں لیکن تحقیقی و تنقیدی موضوعات پر مضامین کی شکل میں مواد (Data) کی فراہمی کے لیے مکمل Dedicated ویب سائٹ تلاشِ بسیار کے باوجود نظر نہیں آئی۔
اس صورتِ حال میں ایک ایسی ویب سائٹ کی شدید ضرورت تھی جس میں تحقیقی و تنقیدی کتب کو موضوعات کے اعتبار سے مضامین میں تقسیم کرکے انھیں ڈیٹابیس کا حصہ بنایا جائے۔ ایسا کرنا اس لیے ضروری تھا کہ معروف تحقیقی و تنقیدی کتب مثلاً ڈاکٹر وزیر آغا کی کتاب "نظم جدید کی کروٹیں" ڈاکٹر عبادت بریلوی کی کتاب "تنقیدی زاویے" اور سید عابد علی عابد کی "مقالات عابد" جیسی کتابوں کے ٹائٹل سے قطعاً اندازہ نہیں ہوتا کہ کتاب کے اندر کن شُعٙرا و اُدٙبا اور کن موضوعات کو زیر بحث لایا گیا ہے۔ رسائل کی تو عمیق ورق گردانی کے بغیر یہ اندازہ لگایا ہی نہیں جا سکتا کہ اس رسالہ کے مضامین و مقالات میں کن شُعٙرا و اُدٙبا، کن کتابوں اور کن موضوعات کو کس نقاد یا محقق نے نقد و نظر کا موضوع بنایا ہے۔ اس لاعلمی کی بنا پر ہمارے بہت سے نئے نقاد اور محقق ان کتابوں کو کھولنے یا ہاتھ لگانے سے بھی کتراتے ہیں۔ ایک طرف ریسرچ سے متعلق مطلوبہ موضوعات تک رسائی میں حائل یہ مشکلات اور دوسری طرف انٹرنیٹ استعمال کرنے والوں کی سہل انگاری یا عجلت پسندی کہ بس دو تین clicks ہی میں اُن کا مطلوبہ مواد اُن کے سامنے ہو!
تحقیق و تنقید کی راہ میں حائل ان تمام مشکلات و مسائل کے حل کے لیے ورلڈ وائڈ ویب کی دنیا میں "اردو ورسٹی" کے نام سے یہ سائٹ پیش کی جارہی ہے۔
اردو ورسٹی، اردو تحقیق و تنقید کے میدان میں مصروف عمل ایک غیر منافع بخش ویب سائٹ ہے جس کی کوئی سبسکرپشن فیس نہیں ہے۔ اس کا مقصد تحقیق و تنقید میں مصروف محققین و ناقدین اور طٙلٙبہ و اساتذہ کے کام کو آسان بنانا ہے لہٰذا ان حضرات کو مطلوبہ مواد تک رسائی کے لیے آسان انٹرفیس کے علاوہ محدود پیمانے پر ڈاؤن لوڈنگ کی سہولت بھی فراہم کی گئی ہے تاکہ صرف محققین ہی اس سے فائدہ اٹھا سکیں اور کاروباری حضرات اس سہولت سے ناجائز فائدہ حاصل نہ کر سکیں۔ 
اردو ورسٹی کا منصوبہ بے حد وسیع اور لامختتم ہے۔ ہم نے ہزاروں مضامین اپلوڈ کر کے ان کی پی ڈی ایف فائلوں میں سے عمیق مطالعے کے بعد کلیدی الفاظ (keywords) تلاش کرکے اور انھیں Computer Readable Format میں لکھ کر اس کبھی ختم نہ ہونے والے سلسلے اور کبھی مکمل نہ ہونے والے عظیم منصوبے کا صرف آغاز کیا ہے۔ 
اس منصوبے کو پایہ تکمیل تک پہنچانے کے لیے نہیں بل کہ صرف آگے بڑھانے کے لیے تمام انسانی وسائل کو استعمال میں لانا ضروری ہے۔ اس مقصد کے حصول کی خاطر جہاں تشنگان علم کے لیے استفادے کے دروازے کھلے رکھے گئے ہیں وہاں اہل علم کو بھی اس کارِ خیر میں شرکت کی دعوت دی جا رہی ہے تاکہ علم کی سرحدوں کو وسیع سے وسیع تر کیا جا سکے۔
    </p>
</div>
</div>
<%- include("partials/footer"); -%>